In [11]:
import pandas as pd
df = pd.read_csv("results.csv")
df["model"] = df["model"].apply(lambda s: s[:-1])
df["date"] = pd.to_datetime(df["time"]).dt.day

In [16]:
df = df[df["date"]==5]

In [17]:
min_df = df.groupby(["model", "seed"]).min()
min_df.groupby("model").mean()

                  epoch  train  val  date
model
3dsincos-10N       0.00   0.79 1.04  5.00
ba-1000N-noemb     0.00   0.21 0.64  5.00
ba-100N-noemb      0.00   0.22 0.65  5.00
ba-10N-noemb       0.00   0.26 0.68  5.00
default-10N        0.00   0.55 0.78  5.00
nn-1000N-noemb     0.00   0.22 0.65  5.00
nn-100N-noemb      0.00   0.22 0.66  5.00
nn-10N-noemb       0.00   0.26 0.68  5.00
rn1-1000N-noemb    0.00   0.22 0.64  5.00
rn1-100N-noemb     0.00   0.21 0.65  5.00
rn1-10N-noemb      0.00   0.27 0.69  5.00
rn10-1000N-noemb   0.00   0.21 0.66  5.00
rn10-100N-noemb    0.00   0.21 0.66  5.00
rn10-10N-noemb     0.00   0.26 0.69  5.00
sincos-10N         0.00   0.78 1.02  5.00

In [3]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
min_df.groupby("model").std()

                  epoch  train  val
model
3dsincos-10N        NaN    NaN  NaN
ba-1000N-noemb     0.00   0.01 0.01
ba-100N-noemb      0.00   0.01 0.01
ba-10N-noemb       0.00   0.02 0.01
default-10N         NaN    NaN  NaN
nn-1000N-noemb     0.00   0.01 0.02
nn-100N-noemb      0.00   0.01 0.01
nn-10N-noemb       0.00   0.02 0.01
rn1-1000N-noemb    0.00   0.01 0.02
rn1-100N-noemb     0.00   0.01 0.02
rn1-10N-noemb      0.00   0.02 0.01
rn10-1000N-noemb   0.00   0.01 0.02
rn10-100N-noemb    0.00   0.01 0.01
rn10-10N-noemb     0.00   0.02 0.02
sincos-10N          NaN    NaN  NaN