In [18]:
import pandas as pd
df = pd.read_csv("results.csv")
df["model"] = df["model"].apply(lambda s: s[:-1])
df

                model  seed              time  epoch  train   val
0       nn-100N-noemb     1  2022-06-03 22:20      0   0.29  0.73
1       rn1-10N-noemb     1  2022-06-03 22:20      0   0.34  0.77
2       ba-100N-noemb     1  2022-06-03 22:20      0   0.28  0.69
3        nn-10N-noemb     1  2022-06-03 22:20      0   0.30  0.69
4       nn-100N-noemb     0  2022-06-03 22:21      0   0.29  0.72
..                ...   ...               ...    ...    ...   ...
303     nn-100N-noemb     6  2022-06-04 00:30      8   0.22  0.69
304   rn1-1000N-noemb     6  2022-06-04 00:31      8   0.19  0.71
305  rn10-1000N-noemb     6  2022-06-04 00:31      9   0.21  0.65
306   rn1-1000N-noemb     7  2022-06-04 00:31      9   0.19  0.69
307  rn10-1000N-noemb     9  2022-06-04 00:44      9   0.20  0.73

[308 rows x 6 columns]

In [19]:
min_df = df.groupby(["model", "seed"]).min()
min_df.groupby("model").mean()

                  epoch  train    val
model
ba-1000N-noemb      0.0  0.207  0.660
ba-100N-noemb       0.0  0.229  0.676
ba-10N-noemb        0.0  0.273  0.690
nn-1000N-noemb      0.0  0.249  0.685
nn-100N-noemb       0.0  0.254  0.693
nn-10N-noemb        0.0  0.261  0.676
rn1-1000N-noemb     0.0  0.214  0.696
rn1-100N-noemb      0.0  0.231  0.713
rn1-10N-noemb       0.0  0.299  0.800
rn10-1000N-noemb    0.0  0.220  0.693
rn10-100N-noemb     0.0  0.228  0.696
rn10-10N-noemb      0.0  0.292  0.764

In [21]:
min_df.groupby("model").std()

                  epoch     train       val
model
ba-1000N-noemb      0.0  0.010593  0.016997
ba-100N-noemb       0.0  0.027669  0.011738
ba-10N-noemb        0.0  0.026268  0.011547
nn-1000N-noemb      0.0  0.027669  0.009718
nn-100N-noemb       0.0  0.030623  0.016364
nn-10N-noemb        0.0  0.017920  0.009661
rn1-1000N-noemb     0.0  0.030258  0.015776
rn1-100N-noemb      0.0  0.033483  0.016364
rn1-10N-noemb       0.0  0.036652  0.040825
rn10-1000N-noemb    0.0  0.027487  0.022136
rn10-100N-noemb     0.0  0.032592  0.016465
rn10-10N-noemb      0.0  0.031903  0.033066