In [18]:
import pandas as pd
df = pd.read_csv("results.csv")
df["model"] = df["model"].apply(lambda s: s[:-1])
df

                model  seed              time  epoch  train   val
0       nn-100N-noemb     1  2022-06-03 22:20      0   0.29  0.73
1       rn1-10N-noemb     1  2022-06-03 22:20      0   0.34  0.77
2       ba-100N-noemb     1  2022-06-03 22:20      0   0.28  0.69
3        nn-10N-noemb     1  2022-06-03 22:20      0   0.30  0.69
4       nn-100N-noemb     0  2022-06-03 22:21      0   0.29  0.72
..                ...   ...               ...    ...    ...   ...
303     nn-100N-noemb     6  2022-06-04 00:30      8   0.22  0.69
304   rn1-1000N-noemb     6  2022-06-04 00:31      8   0.19  0.71
305  rn10-1000N-noemb     6  2022-06-04 00:31      9   0.21  0.65
306   rn1-1000N-noemb     7  2022-06-04 00:31      9   0.19  0.69
307  rn10-1000N-noemb     9  2022-06-04 00:44      9   0.20  0.73

[308 rows x 6 columns]

In [25]:
min_df = df.groupby(["model", "seed"]).min()
min_df.groupby("model").mean()

                  epoch  train  val
model
ba-1000N-noemb     0.00   0.21 0.66
ba-100N-noemb      0.00   0.23 0.68
ba-10N-noemb       0.00   0.27 0.69
nn-1000N-noemb     0.00   0.25 0.68
nn-100N-noemb      0.00   0.25 0.69
nn-10N-noemb       0.00   0.26 0.68
rn1-1000N-noemb    0.00   0.21 0.70
rn1-100N-noemb     0.00   0.23 0.71
rn1-10N-noemb      0.00   0.30 0.80
rn10-1000N-noemb   0.00   0.22 0.69
rn10-100N-noemb    0.00   0.23 0.70
rn10-10N-noemb     0.00   0.29 0.76

In [24]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
min_df.groupby("model").std()

                  epoch  train  val
model
ba-1000N-noemb     0.00   0.01 0.02
ba-100N-noemb      0.00   0.03 0.01
ba-10N-noemb       0.00   0.03 0.01
nn-1000N-noemb     0.00   0.03 0.01
nn-100N-noemb      0.00   0.03 0.02
nn-10N-noemb       0.00   0.02 0.01
rn1-1000N-noemb    0.00   0.03 0.02
rn1-100N-noemb     0.00   0.03 0.02
rn1-10N-noemb      0.00   0.04 0.04
rn10-1000N-noemb   0.00   0.03 0.02
rn10-100N-noemb    0.00   0.03 0.02
rn10-10N-noemb     0.00   0.03 0.03